@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
	<title>Register Page</title>
</head>
<body>
<h1>
	Register Page
</h1>
<form action="/Home/Register" method="post">
	<input placeholder="username" name="username" type="text" />
	<input placeholder="password" name="password" , type="password" />
	<button type="submit">Register</button>
</form>
</body>
</html>
